# unneeded directories
reference

# slickedit project files
*.vpj
*.vpw
*.vpwhist
*.vtg

# IntelliJ project files
.idea

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*.log
*.bak

*.o
a.out
faops
*.exe
faops.exe

cmake-build-debug/
